* {
    box-sizing: border-box;
}
/*box-sizing: border-box;를 지정하면, 
요소의 크기를 계산할 때 테두리(border)와 안쪽 여백(padding)을 포함하여 
계산하게 됩니다. 이를 "border-box"라고 합니다.*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}
/*a:link : 방문 전 링크에 스타일을 적용합니다.

a:visited : 방문 후 링크에 스타일을 적용합니다*/

.container {
    width:960px;
    margin:0 auto;
}
/*.container 요소의 바깥쪽 여백(margin)을 상하 0, 좌우는 자동으로 설정합니다. 
이렇게 함으로써, .container 요소가 수평 중앙에 위치하도록 할 수 있습니다.*/

/* navigation bar */
nav {
    height: 80px;
    background-color:crimson;
    line-height: 70px;
}

nav::after { 
    content: "";
    display: block;
    clear: both;
}
/* 왜 :: 2번 해요?
보통 내비게이션 바를 만들 때, 메뉴 항목들을 가로로 배열하고 왼쪽에는 
로고나 브랜드 이름을 위치시키는데, 
이 때 메뉴 항목들에 float 속성을 사용하면 항목들이 <nav> 요소의 
왼쪽이나 오른쪽에 띄워지게 됩니다. 
이렇게 만들면, 메뉴 항목들이 <nav> 요소 밖으로 벗어나기 때문에, 
<nav> 요소의 높이가 제대로 계산되지 않게 됩니다. 따라서, 
이를 해결하기 위해 nav::after 선택자를 사용하여 <nav> 요소의 높이를 
제대로 계산할 수 있도록 해줍니다.

위의 코드에서 nav::after 선택자는 <nav> 요소 다음에 가상 요소를 만들고, 
이를 블록 요소로 만듭니다. 그리고 가상 요소를 왼쪽, 오른쪽에 띄워진 요소들의 
영향에서 해방시키기 위해 clear: both; 속성을 적용합니다.
 이렇게 함으로써, <nav> 요소의 높이가 제대로 계산됩니다.*/

.nav-logo {
    font-size: 30px;
    float:left;
    margin:0px;
}

.nav-menu {
    float:right;
}

.nav-btn {
    list-style-type: none;
    margin: 0px;
}

ul.nav-btn > li {
    float: left;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

/* header */
.hd {
    position:relative;
    height:600px;
    text-align: center;
}

.hd-title {
    font-size: 80px;
    margin-top: 0; /* 왜 px 을 안넣어요 */
    margin-bottom: 30px;
    padding-top: 200px;
}

.hd-content {
    font-size: 20px;
}
.hd:before { /* : < 이건 뭐에요 */
    content:"";
    display:block;
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(./image1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.hd .container {
    position: relative;
    color:black;
}

/* section */

.sec {
    text-align: center;
    padding: 100px 0; /*위아래 / 좌우 */
    background-color: #ffe4c4;
}

.sec article {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.sec article:last-child {
    margin-right: 0;
}

.sec article img {
    width: 100%;
    height: auto;
}

.card-img {
    overflow: hidden;
    width: 300px;
    height: 180px;
}

.sec::after {
    content: "";
    display: block;
    clear: both;
}

/* footer */
.ft {
    padding: 10px;
    text-align: center;
    background-color: #eb617c;
    font-weight: bold;
}